<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Recognition App</title>
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body>
    <header>
        <h1>Info Bird!</h1>
        <p>Identify birds by uploading an image!</p>
    </header>

    <main>
        <div class="upload-container">
            <form action = '/upload/bird' enctype="multipart/form-data" method="post">
                    <input type="file" id="imageUpload" accept="image/*" name = 'image'  >
                    <button id="uploadBtn">Upload and Identify</button> 
            </form>

        </div>
        <div id="result">
            <p>No image uploaded yet.</p>
        </div>
    </main>

    <footer>
        <p>Powered by Machine Learning | ArtificialIntellijence</p>
    </footer>

    <script src="/assets/index.js"></script>
</body>
</html>
