<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bird Recognition App</title>
    <link rel="stylesheet" href="/assets/index.css">
</head>
<body>
    <header>
        <h1>Info Bird!</h1>
        <p>Identify birds by uploading an image!</p>
    </header>

    <main>
        <div class="upload-container">
            <form action = 'http://127.0.0.1:5000/predict' enctype="multipart/form-data" method="post" id = 'imageForm'>
                    <input type="file" id="imageUpload" accept="image/*" name = 'image' required >
                    <button id="uploadBtn">Upload and Identify</button> 
            </form>

            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" width="100" height="100" id = 'loading'>
                <circle cx="50" cy="50" r="35" stroke-width="10" stroke="#45a049" fill="none" stroke-linecap="round" stroke-dasharray="164.93361431346415 56.97787143782138">
                  <animateTransform
                    attributeName="transform"
                    type="rotate"
                    repeatCount="indefinite"
                    dur="1s"
                    keyTimes="0;1"
                    values="0 50 50;360 50 50"
                  />
                </circle>
              </svg>
              

        </div>
    </main>

    <footer>
        <p>Powered by Machine Learning | ArtificialIntellijence</p>
    </footer>

    <script src="/assets/index.js"></script>
</body>
</html>
